
{% extends "loghouse/layout.html" %}

{% block title %}Daily analysis for {{month}}/{{day}}/{{year}}{% endblock %}

{% block subtitle %}/{{year}}/{{month}}/{{day}}{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready( function() {
{% for query in couchdbqueries %}
    $.ajax( {
        type: "GET",
        url: "{% url loghouse_ajax_day query year month day %}",
        cache: false,
        success: function( html ) {
            $("#content").append( html );
        }
    });
{% endfor %}    
});
</script>
{% endblock %}
