
{% block results %}

<span class='large loud section'>{{ caption }}</span>
<div id="{{ divid }}data" class="span-13 border">
    <table id="{{ divid }}table" class="tablesorter" cellspacing="1">
    <thead>
        <tr>
        {% for title in titles %}
            <td>{{ title }}</td>
        {% endfor %}
        </tr>
    </thead>
    {% for row in couchdbview|dictsortreversed:"value"|slice:":10" %}
    <tr>
        <td>{{ row.value }}</td>
        <td>{{ row.payload }}</td>
        {% if forloop.first %}
            <td rowspan="10"><div id="{{ divid }}visual"></div></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}

