
{% extends "loghouse/layout.html" %}

{% block title %}Daily analysis for {{month}}/{{day}}/{{year}}{% endblock %}

{% block subtitle %}
/ <a href="{% url loghouse_year year %}">{{year}}</a>
/ <a href="{% url loghouse_month year month %}">{{month}}</a>
/ <a href="{% url loghouse_day year month day %}">{{day}}</a>
{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready( function() {
{% for query in couchdbqueries %}
    $.ajax( {
        type: "GET",
        url: "{% url loghouse_ajax_day query year month day %}",
        cache: false,
        success: function( html ) {
            $("#{{ query }}").append( html );
        }
    });
{% endfor %}    
});
</script>
{% endblock %}
